<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

              <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
              <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
              
              <div class="form-label-group">
                <button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
              </div>
              
              <p class="mt-2 mb-3 text-muted">© 2021</p>
            </form>
    </div>
</div>



